<div class="row">
  <% @sales.each do |sale| %>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="background-color:#191970">
          <h6 class="card-title"><strong>Produto:</strong> <%= sale.product.title %> - <strong>Categoria:</strong> <%= sale.product.category.title %></h6>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Vendedor:</strong> <%= sale.sales_profile.sales_employee.email %></p>
          <p class="card-text"><strong>Quantidade Vendida:</strong> <%= sale.amount %></p>
          <p class="card-text"><strong>Preço total: </strong>R$ <%= sale.amount_price.round(2) %></p>
          <p class="card-text"><strong>Data da Venda:</strong> <%= I18n.l(sale.date_sale.to_date) %></p>
        </div>
        <div class="card-footer">
          <%= link_to '', edit_users_backoffice_sale_path(sale), class:"btn btn-primary fa fa-edit", style:"width:35px;" %>
          <%= link_to '', users_backoffice_sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger fa fa-trash", style:"width:35px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "users_backoffice/modals/new_sale", locals: {sale: @sale = Sale.new } %>

<%= paginate @sales %><br>
