<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "sales_employees/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", class:"btn btn-block", style:"float:none;margin-left:0;background-color:#1C1C1C;color:white;" %>
  </div>
<% end %>

<%= render "sales_employees/shared/links" %>
