

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="background-color:#191970">
          <h6 class="card-title"><%= check_box_tag :check, class:"form-control" %>  <%= category.title %></h6>
        </div>
        <div class="card-footer">
          <%= link_to '', edit_users_backoffice_category_path(category), class:"btn btn-primary fa fa-edit", style:"width:35px;" %>
          <%= link_to '', users_backoffice_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger fa fa-trash", style:"width:35px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= render partial: "users_backoffice/modals/new_category", locals: {category: @category = Category.new } %>

<%= paginate @categories %>
