<h2>Stock and Sales</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "sales_employees/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "example@gmail.com" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "********" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar", class:"btn btn-block", style:"float:none;margin-left:0;background-color:#1C1C1C;color:white;" %>
  </div>
<% end %>

<%= render "sales_employees/shared/links" %>
