<%= form_with(model: [:users_backoffice, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="field">
        <%= form.label :'Titulo do produto' %>
        <%= form.text_field :title, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="field">
        <%= form.label :Categoria %>
        <%= form.collection_select :category_id, Category.all, :id, :title, {include_blank: "Selecione uma categoria"}, {class:"form-control"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="field">
        <%= form.label :'Preço Unitário ($)' %>
        <%= form.number_field :price_unitary, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="field">
        <%= form.label :'Em estoque' %>
        <%= form.number_field :in_stock, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="field">
        <%= form.label :'Margem de segurança' %>
        <%= form.number_field :safety_margin, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit "Salvar", class:"btn btn-dark" %>
    <button type="button" class="btn btn-outline-info fa fa-arrow-left" style="font-size:24px" data-dismiss="modal"></button>
  </div>
<% end %>
