<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div class="navbar-brand" style="color:white"><%= link_to "Lista de Produtos", users_backoffice_products_path, style:"color:#fff" %> </div>
      </li>
    </ul>

    <%= form_with url: users_backoffice_products_path, method: :get, local: true, class:"form-inline" do |form| %>
      <%= form.search_field :product_code, class:"form-control-sm mr-sm-2", placeholder:"Código do produto" %>
      <%= form.submit "Pesquisar", class:"btn btn-outline-info btn-sm my-2 my-sm-0 fa-search" %>
    <% end %>

  </nav>
</div><br>

<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    
    <%= form_with url: "#", local: true, class:"form-inline" do |form| %>
      <%= form.select :order, options_for_select(["Titulo", "Preço", "Quantidade no estoque"]), {}, {class:"form-control-sm", style:"width:110px;"} %>&nbsp;
      <%= form.select :type, options_for_select(["Crescente", "Decrescente"]), {}, {class:"form-control-sm", style:"width:110px;"} %>&nbsp;
      <%= form.submit "filtrar", class:"btn btn-outline-info btn-sm my-2 my-sm-0 fa-search"%>
    <% end %>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new<%= params[:controller].slice(17..30) %>Modal">
      <i class="fa fa-plus-square"></i>
    </button>
  </nav>
</div><br>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="background-color:#191970">
          <h6 class="card-title"><%= check_box_tag :check, class:"form-control" %> <div class="badge badge-warning"><%= product.product_code %></div> <%= product.title %></h6>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Categoria do produto:</strong> <%= product.category.title %></p>
          <p class="card-text"><strong>Preço unitário:</strong> R$ <%= product.price_unitary.round(2) %></p>
          <p class="card-text"><strong>Em estoque:</strong> <%= product.in_stock %></p>
        </div>
        <div class="card-footer">
          <%= link_to '', edit_users_backoffice_product_path(product), class:"btn btn-primary fa fa-edit", style:"width:35px;" %>
          <%= link_to '', users_backoffice_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger fa fa-trash", style:"width:35px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @products %><br>
</div>

<%= render partial: "users_backoffice/modals/new_product", locals: {product: @product = Product.new } %>
