<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="background-color:#191970">
          <h6 class="card-title"><%= check_box_tag :check, class:"form-control" %> <div class="badge badge-warning"><%= product.category.title %></div> <%= product.title %></h6>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Preço unitário:</strong> R$ <%= product.price_unitary.round(2) %></p>
          <p class="card-text"><strong>Em estoque:</strong> <%= product.in_stock %></p>
          <p class="card-text"><strong>Margem de segurança:</strong> <%= product.safety_margin %></p>
        </div>
        <div class="card-footer">
          <%= link_to '', edit_users_backoffice_product_path(product), class:"btn btn-primary fa fa-edit", style:"width:35px;" %>
          <%= link_to '', users_backoffice_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger fa fa-trash", style:"width:35px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "users_backoffice/modals/new_product", locals: {product: @product = Product.new } %>

<div class="text-center">
  <%= paginate @products %><br>
</div>
