<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price monetary:</strong>
  <%= @product.price_monetary %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @product.in_stock %>
</p>

<p>
  <strong>Safety margin:</strong>
  <%= @product.safety_margin %>
</p>

<%= link_to 'Edit', edit_users_backoffice_product_path(@product) %> |
<%= link_to 'Back', users_backoffice_products_path %>
